.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.error {
  border: red 1px solid;
}

.errorMessage {
  color: red;
}

.activeFilter {
  background-color: aquamarine;
}

.isDone {
  opacity: 0.5;
}
